
body{
  background-image: url("images/skbl/dust-min.png");
  background-color:#EFF4D1;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Avenir Book', 'Verdana';
}

#logo{  
  margin-top: 5px;
  margin-bottom: 5px;
}

#navbar{
  border-top: 1px solid #ffc930;
}

#search .input-group{
  
}

@media (min-width: 800px) {
  #navbar ul .first-menu-item{
    padding-left: 0px;
  }
  
  #navbar .container-fluid, #navbar-collapse{
    padding-left: 0px;
  }
  
  #search .input-group{
    margin-top: 10px;
    max-width: 300px;
    float:right;
  }  
}

a{
  color:#000;
}

a:hover, a:focus{
  color:#000;
}

hr{
  border-top: 1px solid #ffc930;
}

#footer h3, #navbar{
  text-transform: uppercase;
}

#footer h3{
  font-size: 14px;
}

.image-overlay {
    display:inline-block;
    position: relative;
}
.image-overlay:after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #996633;
    opacity: 0.15;
}
.image-overlay:hover:after {
    opacity: 0;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control, #search .input-group-addon{
	border-color:#ffc930;
	border-radius: 0px;
}

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.keyword_list_item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.carousel-caption h3 {
  color: #fff;
}