#logo{  
  margin-top: 5px;
  margin-bottom: 5px;
}

#navbar{
  border-top: 1px solid #ffc930;
}

@media (min-width: 970px) {
  #navbar ul.navbar-nav a.first-menu-item{
    padding-left: 0px;
  }
}

hr{
  border-top: 1px solid #ffc930;
}

#footer h3, #navbar{
  text-transform: uppercase;
}