###############################################################
# This can be used to generate requirements.txt with pip-tools.
#
# Install pip-tools with
#   pip install pip-tools
#
# Add python package names manually to this file.
#
# Generate requirements.txt with
#   pip-compile requirements.in
#
# PyICU must be added manually to requirements.txt!
###############################################################

flask
flask-babel
flask-compress
flask-reverse-proxy
gunicorn
markdown
pylibmc
werkzeug>=0.15.5,<1.0.0
PyICU==1.9.7

#PyICU==1.9.7  # Must probably be installed manually
