{% extends "layout.html" %}
{% set show_lang_switch = show_lang_switch %}
{% block title %}skbl.se - {{ title }}{% endblock %}
{% block content %}
<div class="col-md-8">
    <h1>{{ headline | deescape }}</h1>
    {% if subheadline %}
    <h2>{{ subheadline | deescape }} {% if search and hits.hits%}({% if more %}{{hits.hits|length}} {{ gettext('of') }} {% endif %}{{ hits.total }}){% endif %}</h2>
       <br/>
    {% endif %}
    {% if authorinfo %}
        <h4 itemprop="jobTitle">{{ authorinfo[0] | safe}}</h4>
        {% if authorinfo[1] %}
            <div class="authorinfo">
                {{ gettext("Has published (amongst others)") }}:
                <ul>
                {% for pub in authorinfo[1] %}
                    <li>{{pub | safe}}</li>
                {% endfor %}
            </div>
        {% endif %}
        <br/>
        <h4>{{ gettext("Articles in SKBL") }}:</h4>
    {% endif %}
    {% if infotext %}
        <p>{{ infotext}}</p>
        <br/>
    {% endif %}
    {% if search and not hits.hits%}
        <span>{{ gettext("No results found for") }} "{{search}}".</span>
    {% endif %}


    {% set firsthits = {}%}
    {% if hits_name %}
    <p>
    {% set namelist, firsthits = make_simplenamelist(hits_name)%}
        <ul>
        {% for score, name, liferange, subtitle, subtitle_eng, subject_id in namelist %}
            <li>
                <a href="{{ url_for('views.article_'+g.language, id=subject_id) }}">{{ name | safe }}<br />
                {% set article_subtitle = get_lang_text(subtitle, subtitle_eng, g.language) %}
                {% if article_subtitle %} {{ article_subtitle | safe}}<br> {% endif %}
                {% if liferange[0] or  liferange[1] %}
                    <span itemprop="birthDate">{{ liferange[0] }}</span> &mdash; <span itemprop="deathDate">{{ liferange[1] }}</span>
                {% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>
    <p>
    {% endif %}

    {% set firstletters, results = make_namelist(hits, firsthits)%}
    {% if namelist and results %}
    <div class="top-link"><a href="#top">[ {{gettext("TO THE TOP")}} ]</a></div>
    {% endif %}
    {% if split_letters %}
        {% for firstletter in firstletters%}
            {% if firstletter == firstletters[-1] %}
                <a class="alphabetlist" href="#{{firstletter}}">{{firstletter}}</a>
            {% else %}
                <a class="alphabetlist vertical_bar" href="#{{firstletter}}">{{firstletter}}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
    <ul>
    {% for oneletterlist in results %}
        {% if split_letters %}
            <h2><a class="no_anchor_decor" name="{{ oneletterlist[0][0] }}">{{ oneletterlist[0][0] }}</a></h2>
        {% endif %}
        {% for _firstletter, is_link, name, linked_name, liferange, subtitle, subtitle_eng, subject_id in oneletterlist %}
        <li>
            {% if is_link %}
                <a href="{{ url_for('views.article_'+g.language, id=subject_id) }}" title="{{ linked_name }}"><strong><em>{{ name }}</em></strong>&ensp;<span class="glyphicon glyphicon-link"></span><br />
            {% else %}
                <a href="{{ url_for('views.article_'+g.language, id=subject_id) }}">{{ name | safe }}<br />
            {% endif %}
            {% set article_subtitle = get_lang_text(subtitle, subtitle_eng, g.language) %}
            {% if article_subtitle %} {{ article_subtitle | safe}}<br> {% endif %}
            {% if liferange[0] or  liferange[1] %}
                <span itemprop="birthDate">{{ liferange[0] }}</span> &mdash; <span itemprop="deathDate">{{ liferange[1] }}</span>
            {% endif %}
            </a>
        </li>
        {% endfor %}
        {% if split_letters and oneletterlist %}
        <div class="top-link"><a href="#top">[ {{gettext("TO THE TOP")}} ]</a></div>
        {% endif %}
    {% endfor %}
    </ul>
    {% if not split_letters %}
    <div class="top-link"><a href="#top">[ {{gettext("TO THE TOP")}} ]</a></div>
    {% endif %}
    {% if more %}
       <div class="karp-link">
        {{gettext("Not all hits are shown.")}} {{gettext("To see more hits, use Språkbanken's tool")}}
                <a class="visible_link" href="{{karp_url}}" target="_blank">Karp</a> ({{ gettext('External link') }})
        </div>
     {% endif %}
</div>
<div class="col-md-4">
    {{ advanced_search_text | safe}}
    {% if picture %}
    <img src="{{ picture }}" alt="{{ headline }}" width="350px" />
    {% endif %}
</div>
{% endblock %}
