{% extends "layout.html" %}
{% block title %}skbl.se - {{ title }}{% endblock %}
{% block content %}
<div class="col-md-8">
    <h2>{{ title }}</h2>
    <p>
        {{ infotext | safe }}
    </p>
    <br/>


    <ul>
      <li><a target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Me2YB7D1NUmGPHPuJQWAbjKh1C5nTYRCglgaXp3ucGFUNlVQWVVIWUlaR1pRTjBUMTc5TUNRUjhXUC4u">Quiz 1</a></li>

      <li><a target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Me2YB7D1NUmGPHPuJQWAbjKh1C5nTYRCglgaXp3ucGFUOE9JNDVKUlJQTU8xN1k4NEdSS0FFRlg4Ty4u">Quiz 2</a></li>

      <li><a target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Me2YB7D1NUmGPHPuJQWAbjKh1C5nTYRCglgaXp3ucGFUNjZPWlhGUEQzTUJLMDA2UDlUNEY1T1JPUi4u">Quiz 3</a></li>
    </ul>
</div>
{% endblock %}
