{% extends "layout.html" %}
{% block title %}skbl.se - {{title}}{% endblock %}
{% block content %}
<div class="col-md-6">
  <div id="carousel-skbl" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-skbl" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-skbl" data-slide-to="1"></li>
      <li data-target="#carousel-skbl" data-slide-to="2"></li>
      <li data-target="#carousel-skbl" data-slide-to="3"></li>
      <li data-target="#carousel-skbl" data-slide-to="4"></li>
      <li data-target="#carousel-skbl" data-slide-to="5"></li>
      <li data-target="#carousel-skbl" data-slide-to="6"></li>
      <li data-target="#carousel-skbl" data-slide-to="7"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/KerstinBernhard">
          <img src="../static/images/carousel/_bk.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Kerstin Bernhard</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/HelenaSnakenborg">
          <img src="../static/images/carousel/_sh.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Helena Snakenborg</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/JankenWielHansen">
          <img src="../static/images/carousel/_whj.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Janken Wiel-Hansen</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/IngridOrtrudMann">
          <img src="../static/images/carousel/_mo.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Ortrud Mann</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/FridaElisabethPalmer">
          <img src="../static/images/carousel/_pfl.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Frida Palmér</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/ElsaStinaLarsdotterLaulaRenberg">
          <img src="../static/images/carousel/_elr.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Elsa Laula Renberg</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/ElinafSkovde">
          <img src="../static/images/carousel/_eas.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Elin av Skövde</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/MarthaLarsson0">
          <img src="../static/images/carousel/_lm.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Martha Larsson</h3>
          </div>
        </a>
      </div>
      <!--<div class="item active">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/HedvigUlfsparre">
          <img src="../static/images/carousel/ulfsparre.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Hedvig Ulfsparre</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/HilmaafKlint">
          <img src="../static/images/carousel/afklint.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Hilma af Klint</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/MariaLundback">
          <img src="../static/images/carousel/lundback.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Maria Lovisa Lundbäck</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/EllenRoosvalvonHallwyl">
          <img src="../static/images/carousel/roosval.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Ellen Roosval von Hallwyl</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/JennyLind">
          <img src="../static/images/carousel/lind.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Jenny Lind</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/MartaBucht">
          <img src="../static/images/carousel/bucht.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Märta Bucht</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/ElsaAndersson">
          <img src="../static/images/carousel/elsaandersson.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Elsa Andersson</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/KataDalstrom">
          <img src="../static/images/carousel/dalstrom.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Kata Dalström</h3>
          </div>
        </a>
      </div>-->
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-skbl" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-skbl" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
<div class="col-md-6" id="right-panel">
  <h3><span>{{infotext | safe}}</span></h3>
</div>
{% endblock %}
