{% extends "layout.html" %}
{% block title %}skbl.se - {{ title }}{% endblock %}

{% block head %}
{{super()}}
<link rel="alternate" type="application/json" href="{{ url_for('article_json_'+g.language, id=article_id) }}" />
{% endblock %}

{% block content %}
<div itemscope itemtype="http://schema.org/Person">
    <div class="col-md-8">
        <h1 itemprop="name">{{ article.showname | safe }}</h1>
        <h4 itemprop="additionalName">{{ article.fullfirstname }}</h4>
        {% if get_date(article)[0] or get_date[1] %}
            <h4> <span itemprop="birthDate">{{ get_date(article)[0] }}</span> &mdash; <span itemprop="deathDate">{{ get_date(article)[1] }}</span></h4>
        {% endif %}
        {% set article_subtitle = get_lang_text(article.subtitle, article.subtitle_eng, g.language) %}
        {% if article_subtitle %}<h4 itemprop="jobTitle">{{ article_subtitle | safe}}</h4>{% endif %}
        <div class="main_text">
            {% set article_text = get_lang_text(article.text, article.text_eng, g.language) %}
            {% if article_text %}{{ article_text | safe }}{% endif %}
        </div>
        <br/>
        <p>
            <em>
                {% for author in article.article_author %}
                    {{ author.firstname }} {{author.lastname}}<br/>
                {% endfor %}
                {% if g.language == 'en' %}
                    {% if article.text_eng %}
                        (Translated by {{article.translator.firstname}} {{article.translator.lastname}})
                    {% endif %}
                {% endif %}
            </em>
        </p>

        {% if article.relation %}
        <div id="familjeforhallanden_lista" class="ellipsis">
            <h4 class="ellipsis_header"><span class="ellipsis_plus glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{gettext('Family Relationships')}} ({% if article.civil_status %}{{ article.relation|length + 1}}{% else %}{{ article.relation|length }}{% endif %})</h4>
            <ul class="ellipsis_contents">
              {% if article.civil_status %}
                <li>{{gettext('Civil Status:')}} {{ article.civil_status }} </li>
              {% endif %}
              {% for relation in article.relation %}
                {% if not relation.hide %}
                  <li>
                      <h5>{{ relation.type }}{% if relation.firstname or relation.lastname %}: {{ relation.firstname }} {{ relation.lastname }}{% endif %}</h5>
                  </li>
               {% endif %}
            {% endfor %}
            {% for relation in article.collapsedrelation %}
                  <li>
                      <h5>{{ relation.type }}: {{ relation.count }}</h5>
                  </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if article.education %}
        <div id="organisationer_lista" class="ellipsis">
            <h4 class="ellipsis_header"><span class="ellipsis_plus glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{gettext('Education')}} ({{ article.education|length }})</h4>
            <ul class="ellipsis_contents">
            {% for education in article.education %}
                <li>
                    <h5>{{ education.type }}{% if education.place and education.place.place %}, {{ education.place.place }}{% endif %}{% if education.description %}: {{ education.description | deescape }}{% endif %}</h5>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if article.occupation %}
        <div id="organisationer_lista" class="ellipsis">
            <h4 class="ellipsis_header"><span class="ellipsis_plus glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{gettext('Activities')}} ({{ article.occupation|length }})</h4>
            <ul class="ellipsis_contents">
            {% for occupation in article.occupation %}
                <li>
                    {% set occupation_detail = get_lang_text(occupation.detail, occupation.detail_eng, g.language) %}
                    <h5>{{ occupation.type }}{% if occupation_detail %}: {{ occupation_detail | deescape }}{% endif %}</h5>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if article.contact %}
        <div id="kontakter_lista" class="ellipsis">
            <h4 class="ellipsis_header"><span class="ellipsis_plus glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{gettext('Contacts')}} ({{ article.contact|length }})</h4>
            <ul class="ellipsis_contents">
            {% for contact in article.contact %}
                <li>
                    <h5>{{ contact.type }}: {{ contact.firstname }} {{ contact.lastname }}</h5>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if article.organisation %}
        <div id="organisationer_lista" class="ellipsis">
            <h4 class="ellipsis_header"><span class="ellipsis_plus glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{gettext('Organisations')}} ({{ article.organisation|length }})</h4>
            <ul class="ellipsis_contents">
            {% for organisation in article.organisation %}
                <li>
                    <h5>{{ organisation.name }}</h5>
                    <span>{{ organisation.description }}</span>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if article.places %}
        <div id="bostadsorter_lista" class="ellipsis">
            <h4 class="ellipsis_header"><span class="ellipsis_plus glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{gettext('Residences')}} ({{ article.places|length }})</h4>
            <ul class="ellipsis_contents">
            {% for place in article.places %}
                <li>
                    {% if place.place %}
                        <h5>{{place.place.place}}</h5>
                    {% else %}
                        <h5></h5>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if article.awards %}
        <div id="priser_lista" class="ellipsis">
            <h4 class="ellipsis_header"><span class="ellipsis_plus glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{gettext('Prices/awards')}} ({{ article.awards|length }})</h4>
            <ul class="ellipsis_contents">
            {% for award in article.awards %}
                <li>
                    <h5>{{ award.type }}{% if award.description %}: <a class="visible_link" href="{{url_for('award_'+g.language, result=award.description)}}">{{award.description | deescape}}</a>{% endif %}</h5>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if article.source %}
        <br/><br/>
        <div>
            <h4>{{gettext('Sources')}}</h4>
            {% for typename, type in article.source %}
                <div>
                    <h5>{{typename}}</h5>
                    <ul>
                        {% for source in type %}
                        <li>
                            {% set source_description = get_lang_text(source.description, source.description_eng, g.language) %}
                            {% if source.url %}
                                <a class="visible_link" href="{{source.url | deescape}}" target="_blank">{{source_description | safe}}</a>
                            {% else %}
                                <span>{{source.description | safe}}</span>
                            {% endif %}

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if article.furtherreference %}
        <br/><br/>
        <div>
            <h4>{{gettext('Further References')}}</h4>
            {% for typename, type in article.furtherreference %}
                <div>
                    <h5>{{typename}}</h5>
                    <ul>
                        {% for ref in type %}
                        <li>
                            {% set ref_description = get_lang_text(ref.description, ref.description_eng, g.language) %}
                            {% if ref.url %}
                                <a class="visible_link" href="{{ref.url | deescape}}" target="_blank">{{ref_description | safe}}</a>
                            {% else %}
                                <span>{{ref_description | safe}}</span>
                            {% endif %}

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="col-md-4">
        <!--<div id="article_map_button">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;{{gettext('Show map')}}
        </div>
        <div id="article_map_button_hide" style="display:none">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;{{gettext('Hide map')}}
        </div>
        <div id="article_map" style="height: 320px;width: 320px;display:none"></div>-->
        {% if article.portrait %}
            {% set article_portrait_description = get_lang_text(article.portrait[0].description, article.portrait[0].description_eng, g.language) %}
            <div class="image-overlay">
                <img src="{{ article.portrait[0].url }}" itemprop="image" alt="{{ article_portrait_description }}" width="360px">
            </div>
            {{ article_portrait_description | deescape}}
        {% endif %}
        {% if article.keyword %}
            <h3>{{ gettext("Keywords") }}</h3>
            {% for keyword in article.keyword %}
                {% if keyword %}
                    <a href="{{ url_for('keyword_'+g.language, result=keyword) }}"><span class="badge">{{ keyword }}</span></a></span>
                {% endif %}
            {% endfor %}
        {% endif %}

        <!--
        <h3>{{ gettext("Othernames") }}</h3>
        {% for name in article.othernames %}
            <p><b>{{name.type}}:</b> <span itemprop="additionalName">{{name.name}}</span></p>
        {% endfor %}
        -->

        {% if article.externallink %}
            <h3>{{ gettext("Links") }}</h3>
            <ul>
            {% for link in article.externallink %}
                <li><a class="visible_link" target="_blank" href="{{ link.url | deescape }}">{{ link.description | deescape }}</a></span></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block foot %}
    {{ super() }}
    <script>
        jQuery(document).ready(function() {
            jQuery(".ellipsis_header").click(function() {
                jQuery(this).siblings(".ellipsis_contents").toggle("slow");
                jQuery(this).find(".ellipsis_plus").toggle();
            });
        });
    </script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script>
        jQuery(document).ready(function() {

            jQuery("#article_map_button").click(function() {
                jQuery("#article_map").show();
                jQuery("#article_map_button").hide();
                jQuery("#article_map_button_hide").show();

                var article = {{article | tojson}};
                console.log("article", article);
                // Generate list of pins
                var pins = [];
                for (var educationKey in article.education) {
                    var education = article.education[educationKey];
                    if (education.place && education.place.pin) {
                        pins.push(['education', education.place.pin.lat, education.place.pin.lon, education.place.place]);
                    }
                }
                for (var occupationKey in article.occupation) {
                    var occupation = article.occupation[occupationKey];
                    if (occupation.place && occupation.place.pin) {
                        pins.push(['occupation', occupation.place.pin.lat, occupation.place.pin.lon, occupation.place.place]);
                    }
                }
                for (var placeKey in article.places) {
                    var place = article.places[placeKey];
                    if (place.place && place.place.pin) {
                        pins.push(['place', place.place.pin.lat, place.place.pin.lon, place.place.place]);
                    }
                }
                for (var contactKey in article.contacts) {
                    var contact = article.contacts[contactKey];
                    if (contact.place && contact.place.pin) {
                        pins.push(['education', contact.place.pin.lat, contact.place.pin.lon, contact.place.place]);
                    }
                }
                if (article.lifespan) {
                    if (article.lifespan.from && article.lifespan.from.place && article.lifespan.from.place.pin) {
                        var fromPlace = article.lifespan.from.place;
                        pins.push(['birth', fromPlace.pin.lat, fromPlace.pin.lon, fromPlace.place]);
                    }
                    if (article.lifespan.to && article.lifespan.to.place && article.lifespan.to.place.pin) {
                        var toPlace = article.lifespan.to.place;
                        pins.push(['death', toPlace.pin.lat, toPlace.pin.lon, toPlace.place]);
                    }
                }
                console.log("pins", pins);
                if (pins.length !== 0) {
                    if (typeof mymap !== 'undefined') return;
                    mymap = L.map('article_map').setView([pins[0][1], pins[0][2]], 6);
                    /*var LeafIcon = L.Icon.extend({
                        options: {
                            shadowUrl: '',
                            iconSize:     [15, 28],
                            shadowSize:   [50, 64],
                            iconAnchor:   [7, 27],
                            shadowAnchor: [4, 62],
                            popupAnchor:  [-3, -76]
                        }
                    });
                    var redIcon = new LeafIcon({iconUrl: '/static/images/pins/red.png'});*/
                    var redIcon = new L.Icon({
                        iconUrl: '/static/images/pins/red.png',
                        iconSize:     [15, 28],
                        iconAnchor:   [14, 27],
                        popupAnchor:  [-6, -20]
                    });
                    var orangeIcon = new L.Icon({
                        iconUrl: '/static/images/pins/orange.png',
                        iconSize:     [15, 28],
                        iconAnchor:   [10, 27],
                        popupAnchor:  [-2, -20]
                    });
                    var grayIcon = new L.Icon({
                        iconUrl: '/static/images/pins/gray.png',
                        iconSize:     [15, 28],
                        iconAnchor:   [2, 27],
                        popupAnchor:  [8, -20]
                    });
                    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox.streets'
                    }).addTo(mymap);
                    var markers = [];
                    for (var pinIndex in pins) {
                        var pin = pins[pinIndex];
                        var icon;
                        switch(pin[0]) {
                            case "birth":
                                icon = redIcon;
                                break;
                            case "death":
                                icon = grayIcon;
                                break;
                            case "place":
                                icon = orangeIcon;
                                break;
                            case "contact":
                                icon = orangeIcon;
                                break;
                            case "education":
                                icon = orangeIcon;
                                break;
                            case "occupation":
                                icon = orangeIcon;
                                break;
                        }
                        markers.push(L.marker([pin[1], pin[2]], {icon: icon}).bindPopup(pin[3]));
                    }
                    group = new L.featureGroup(markers).addTo(mymap);
                    mymap.fitBounds(group.getBounds(), {"maxZoom" : 4});
                }
                //mymap.invalidateSize();
            });

            jQuery("#article_map_button_hide").click(function() {
                jQuery("#article_map").hide();
                jQuery("#article_map_button").show();
                jQuery("#article_map_button_hide").hide();
            });
        });
    </script>
{% endblock %}
