{% macro relationMacro(relation) %}
    <li class="keyword_list_item">
        <h5 class="toggled-by-button">{{ relation.type }}{% if relation.firstname or relation.lastname %}: {{ relation.firstname }} {{ relation.lastname }}{% endif %}</h5>
        <h5 class="toggled-by-button" style="display:none">{{ relation.type }}{% if relation.firstname or relation.lastname %}: {{ relation.firstname }} {{ relation.lastname }}{% endif %}
    {% if relation.get("born")%} {% set born = relation.get("born").get("comment") %} {% else %} {% set born = "" %} {% endif %}
    {% if relation.get("death")%} {% set death = relation.get("death").get("comment") %} {% else %} {% set death = "" %} {% endif %}
    {% if born or death %} ({{born}} – {{death}}){% endif %}
    {% if relation.occupation %}<br/>{{relation.occupation}}{% endif %}
    {% if relation.from and relation.to %}<br/>Relation mellan {{relation.from.comment}} och {{relation.to.comment}}{% endif %}</h5>
    </li>
{% endmacro %}

{% macro educationMacro(education) %}
    <li class="keyword_list_item">
        <h5 class="toggled-by-button">{{ education.type }}{% if education.place and education.place.place %}, {{ education.place.place }}{% endif %}{% if education.description %}: {{ education.description | deescape }}{% endif %}</h5>
        <h5 class="toggled-by-button" style="display:none">{{ education.type }}{% if education.place and education.place.place %}, {{ education.place.place }}{% endif %}{% if education.description %}: {{ education.description | deescape }}{% endif %}
        {% if education.get("from")%} {% set from = education.get("from").get("comment") %} {% else %} {% set from = "" %} {% endif %}
        {% if education.get("to")%} {% set to = education.get("to").get("comment") %} {% else %} {% set to = "" %} {% endif %}
        {% if from or to %} ({{from}} – {{to}}){% endif %}</h5>
    </li>
{% endmacro %}

{% macro occupationMacro(occupation) %}
    <li class="keyword_list_item">
        {% set occupation_detail = get_lang_text(occupation.detail, occupation.detail_eng, g.language) %}
        <h5 class="toggled-by-button">{{ occupation.type }}{% if occupation_detail %}: {{ occupation_detail | deescape }} {% elif occupation.description %}: {{ occupation.description | deescape}} {% endif %}</h5>
        <h5 class="toggled-by-button" style="display:none">{{ occupation.type }}{% if occupation_detail %}: {{ occupation_detail | deescape }} {% elif occupation.description %}: {{ occupation.description | deescape}} {% endif %}
        {% if occupation.place and occupation.place.place %}, {{ occupation.place.place }}{% endif %}
        {% if occupation.get("from")%} {% set from = occupation.get("from").get("comment") %} {% else %} {% set from = "" %} {% endif %}
        {% if occupation.get("to")%} {% set to = occupation.get("to").get("comment") %} {% else %} {% set to = "" %} {% endif %}
        {% if from or to %} ({{from}} – {{to}}){% endif %}</h5>
    </li>
{% endmacro %}

{% macro contactMacro(contact) %}
    <li class="keyword_list_item">
        <h5 class="toggled-by-button">{{ contact.type }}: {{ contact.firstname }} {{ contact.lastname }}</h5>
        <h5 class="toggled-by-button" style="display:none">{{ contact.type }}: {{ contact.firstname }} {{ contact.lastname }}
        {% if contact.place and contact.place.place %}, {{ contact.place.place }}{% endif %}
        {% if contact.get("from")%} {% set from = contact.get("from").get("comment") %} {% else %} {% set from = "" %} {% endif %}
        {% if contact.get("to")%} {% set to = contact.get("to").get("comment") %} {% else %} {% set to = "" %} {% endif %}
        {% if from or to %} ({{from}} – {{to}}){% endif %}</h5>
    </li>
{% endmacro %}

{% macro placeMacro(place) %}
    <li class="keyword_list_item">
        {% if place.place %}
            <h5 class="toggled-by-button">{{place.place.place}}</h5>
            <h5 class="toggled-by-button" style="display:none">{{place.place.place}}
            {% if place.get("from")%} {% set from = place.get("from").get("comment") %} {% else %} {% set from = "" %} {% endif %}
            {% if place.get("to")%} {% set to = place.get("to").get("comment") %} {% else %} {% set to = "" %} {% endif %}
            {% if from or to %} ({{from}} – {{to}}){% endif %}</h5>
        {% endif %}
    </li>
{% endmacro %}

{% macro awardMacro(award) %}
    <li class="keyword_list_item">
        <h5 class="toggled-by-button">{{ award.type }}{% if award.description %}: <a class="visible_link" href="{{url_for('award_'+g.language, result=award.description)}}">{{award.description | deescape}}</a>{% endif %}</h5>
        <h5 class="toggled-by-button" style="display:none">{{ award.type }}{% if award.description %}: <a class="visible_link" href="{{url_for('award_'+g.language, result=award.description)}}">{{award.description | deescape}}</a>{% endif %}
        {% if award.get("date")%} {% set date = award.get("date").get("comment") %} {% else %} {% set date = "" %} {% endif %}
        {% if date %} ({{date}}){% endif %}</h5>
    </li>
{% endmacro %}

{% macro organisationMacro(organisation) %}
    <li class="keyword_list_item">
        <h5 class="toggled-by-button">{{ organisation.name }}<br/>
        <span>{{ organisation.description }}</span></h5>
        <h5 class="toggled-by-button" style="display:none">{{ organisation.name }}<br/>
        <span>{{ organisation.description }}</span>
        {% if organisation.get("from")%} {% set from = organisation.get("from").get("comment") %} {% else %} {% set from = "" %} {% endif %}
        {% if organisation.get("to")%} {% set to = organisation.get("to").get("comment") %} {% else %} {% set to = "" %} {% endif %}
        {% if from or to %} ({{from}} – {{to}}){% endif %}</h5>
    </li>
{% endmacro %}

{% extends "layout.html" %}
{% block title %}skbl.se - {{ title }}{% endblock %}

{% block head %}
{{super()}}
<link rel="alternate" type="application/json" href="{{ url_for('article_json_'+g.language, id=article_id) }}" />
{% endblock %}

{% block content %}
<div itemscope itemtype="http://schema.org/Person">
    <div class="col-md-8">
        {% if under_development %}{{gettext("Work in progress.")}}{% endif %}
        <h1 itemprop="name">{{ article.showname | safe }}{% if article.linked_names %} <em itemprop="additionalName">({{article.linked_names | safe }})</em> {% endif %}</h1>
        {# <h4 itemprop="additionalName">{{ article.fullfirstname }}</h4> #}
        {% if get_date(article)[0] or get_date[1] %}
            <h4> <span itemprop="birthDate">{{ get_date(article)[0] }}</span> &mdash; <span itemprop="deathDate">{{ get_date(article)[1] }}</span></h4>
        {% endif %}
        {% set article_subtitle = get_lang_text(article.subtitle, article.subtitle_eng, g.language) %}
        {% if article_subtitle %}<h4 itemprop="jobTitle">{{ article_subtitle | safe}}</h4>{% endif %}
        <div class="main_text">
            {% set article_text = get_lang_text(article.text, article.text_eng, g.language) %}
            {% if article_text %}{{ article_text | safe }}{% endif %}
        </div>
        <br/>
        {% if article.note %}
            <div class="footnote">
            {% for note in article.note %}
                {% set note_text = get_lang_text(note.text, note.text_eng, g.language) %}
                {% if note_text %}{{gettext("Remark")}} {{ note.number }}: {{ note_text | safe }}{% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <br/>

        <p>
            <em>
                {% for author in article.article_author %}
                    {{ author.firstname }} {{author.lastname}}<br/>
                {% endfor %}
                {% if g.language == 'en' %}
                    {% if article.text_eng %}
                        (Translated by {{article.translator.firstname}} {{article.translator.lastname}})
                    {% endif %}
                {% endif %}
            </em>
        </p>

        <br/><br/>
        <div class="reference-to-skbl">
            Hänvisa gärna till denna artikel, men uppge alltid författarnamnet enligt följande:<br/><br/>
            <em>{{ article.showname | safe }}, www.skbl.se/sv/artikel/{{article.es_id}}, Svenskt kvinnobiografiskt lexikon (artikel av {% for author in article.article_author %}
                    {{ author.firstname }} {{author.lastname}} {% if not loop.last %}, {% endif %}
                {% endfor %}), hämtad {{get_current_date()}}.</em>
        </div>

        <br/><br/>
        <button type="button" class="btn btn-default toggle-dates">
            <span class="toggled-by-button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                &nbsp;&nbsp;Visa full information
            </span>
            <span class="toggled-by-button" style="display:none">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                &nbsp;&nbsp;Visa förkortad information
            </span></button>



        {% if article.relation %}
        <div>
        <br/>
        <br/>
        <h4>{{gettext('Family Relationships')}}</h4>
            {% if article.civil_status %}
                <span class="civ-status-text">{{gettext('Civil Status:')}} {{ article.civil_status }}</span>
            {% endif %}
            {% if len(article.relation) <= 4 %}
                {% for relation in article.relation %}
                <ul>
                    {{ relationMacro(relation) }}
                </ul>
                {% endfor %}
            {% else %}
                <div style="display:none" class="nested_container hidden_first">
                    {% for relation in article.relation %}
                        <ul>
                          {{ relationMacro(relation) }}
                        </ul>
                    {% endfor %}
                    <div class="minimize_items">
                      <span class="label label-default"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></span>
                    </div>
                </div>
                <div style="" class="nested_container shown_first">
                    <ul>
                    {% for relation in article.relation %}
                      {% if loop.index < 4 %}
                        {{ relationMacro(relation) }}
                      {% endif %}
                    {% endfor %}
                    </ul>
                    <div class="fadeout">
                      <span class="label label-default">fler...</span>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}




        {% if article.education %}
        <div>
        <br/>
        <br/>
        <h4>{{gettext('Education')}}</h4>
            {% if len(article.education) <= 4 %}
                {% for education in article.education %}
                <ul>
                    {{ educationMacro(education) }}
                </ul>
                {% endfor %}
            {% else %}
                <div style="display:none" class="nested_container hidden_first">
                    {% for education in article.education %}
                        <ul>
                          {{ educationMacro(education) }}
                        </ul>
                    {% endfor %}
                    <div class="minimize_items">
                      <span class="label label-default"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></span>
                    </div>
                </div>
                <div style="" class="nested_container shown_first">
                    <ul>
                    {% for education in article.education %}
                      {% if loop.index < 4 %}
                        {{ educationMacro(education) }}
                      {% endif %}
                    {% endfor %}
                    </ul>
                    <div class="fadeout">
                      <span class="label label-default">fler...</span>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}





        {% if article.occupation %}
        <div>
        <br/>
        <br/>
        <h4>{{gettext('Activities')}}</h4>
            {% if len(article.occupation) <= 4 %}
                {% for occupation in article.occupation %}
                <ul>
                    {{ occupationMacro(occupation) }}
                </ul>
                {% endfor %}
            {% else %}
                <div style="display:none" class="nested_container hidden_first">
                    {% for occupation in article.occupation %}
                        <ul>
                          {{ occupationMacro(occupation) }}
                        </ul>
                    {% endfor %}
                    <div class="minimize_items">
                      <span class="label label-default"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></span>
                    </div>
                </div>
                <div style="" class="nested_container shown_first">
                    <ul>
                    {% for occupation in article.occupation %}
                      {% if loop.index < 4 %}
                        {{ occupationMacro(occupation) }}
                      {% endif %}
                    {% endfor %}
                    </ul>
                    <div class="fadeout">
                      <span class="label label-default">fler...</span>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}





        {% if article.contact %}
        <div>
        <br/>
        <br/>
        <h4>{{gettext('Contacts')}}</h4>
            {% if len(article.contact) <= 4 %}
                {% for contact in article.contact %}
                <ul>
                    {{ contactMacro(contact) }}
                </ul>
                {% endfor %}
            {% else %}
                <div style="display:none" class="nested_container hidden_first">
                    {% for contact in article.contact %}
                        <ul>
                          {{ contactMacro(contact) }}
                        </ul>
                    {% endfor %}
                    <div class="minimize_items">
                      <span class="label label-default"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></span>
                    </div>
                </div>
                <div style="" class="nested_container shown_first">
                    <ul>
                    {% for contact in article.contact %}
                      {% if loop.index < 4 %}
                        {{ contactMacro(contact) }}
                      {% endif %}
                    {% endfor %}
                    </ul>
                    <div class="fadeout">
                      <span class="label label-default">fler...</span>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}





        {% if article.organisation %}
        <div>
        <br/>
        <br/>
        <h4>{{gettext('Organisations')}}</h4>
            {% if len(article.organisation) <= 4 %}
                {% for organisation in article.organisation %}
                <ul>
                    <!--<li class="keyword_list_item">
                        <h5>{{ organisation.name }}</h5>
                        <span>{{ organisation.description }}</span>
                    </li>-->
                    {{ organisationMacro(organisation) }}
                </ul>
                {% endfor %}
            {% else %}
                <div style="display:none" class="nested_container hidden_first">
                    {% for organisation in article.organisation %}
                        <ul>
                          <!--<li class="keyword_list_item">
                            <h5>{{ organisation.name }}</h5>
                            <span>{{ organisation.description }}</span>
                          </li>-->
                          {{ organisationMacro(organisation) }}
                        </ul>
                    {% endfor %}
                    <div class="minimize_items">
                      <span class="label label-default"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></span>
                    </div>
                </div>
                <div style="" class="nested_container shown_first">
                    <ul>
                    {% for organisation in article.organisation %}
                      {% if loop.index < 4 %}
                      <!--<li class="keyword_list_item">
                        <h5>{{ organisation.name }}</h5>
                        <span>{{ organisation.description }}</span>
                      </li>-->
                        {{ organisationMacro(organisation) }}
                      {% endif %}
                    {% endfor %}
                    </ul>
                    <div class="fadeout">
                      <span class="label label-default">fler...</span>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}





        {% if article.places %}
        <div>
        <br/>
        <br/>
        <h4>{{gettext('Residences')}}</h4>
            {% if len(article.places) <= 4 %}
                {% for place in article.places %}
                <ul>
                    {{ placeMacro(place) }}
                </ul>
                {% endfor %}
            {% else %}
                <div style="display:none" class="nested_container hidden_first">
                    {% for place in article.places %}
                        <ul>
                          {{ placeMacro(place) }}
                        </ul>
                    {% endfor %}
                    <div class="minimize_items">
                      <span class="label label-default"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></span>
                    </div>
                </div>
                <div style="" class="nested_container shown_first">
                    <ul>
                    {% for place in article.places %}
                      {% if loop.index < 4 %}
                        {{ placeMacro(place) }}
                      {% endif %}
                    {% endfor %}
                    </ul>
                    <div class="fadeout">
                      <span class="label label-default">fler...</span>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}


        {% if article.awards %}
        <div>
        <br/>
        <br/>
        <h4>{{gettext('Prices/awards')}}</h4>
            {% if len(article.awards) <= 4 %}
                {% for award in article.awards %}
                <ul>
                    {{ awardMacro(award) }}
                </ul>
                {% endfor %}
            {% else %}
                <div style="display:none" class="nested_container hidden_first">
                    {% for award in article.awards %}
                    <ul>
                      {{ awardMacro(award) }}
                    </ul>
                    {% endfor %}
                    <div class="minimize_items">
                      <span class="label label-default"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></span>
                    </div>
                    </div>
                    <div style="" class="nested_container shown_first">
                    <ul>
                    {% for award in article.awards %}
                      {% if loop.index < 4 %}
                        {{ awardMacro(award) }}
                      {% endif %}
                    {% endfor %}
                    </ul>
                    <div class="fadeout">
                      <span class="label label-default">fler...</span>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}





        {% if article.source %}
        <br/><br/>
        <div>
            <h4>{{gettext('Sources')}}</h4>
            {% for typename, type in article.source %}
                <div>
                    <h5>{{typename}}</h5>
                    <ul class="no_bullets">
                        {% for source in type %}
                        <li>
                            {% set source_description = get_lang_text(source.description, source.description_eng, g.language) %}
                            {% if source.url %}
                                <a class="visible_link" href="{{source.url | deescape}}" target="_blank">{{source_description | safe}}</a>
                            {% else %}
                                <span>{{source.description | safe}}</span>
                            {% endif %}

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if article.furtherreference %}
        <br/><br/>
        <div>
            <h4>{{gettext('Further References')}}</h4>
            {% for typename, type in article.furtherreference %}
                <div>
                    <h5>{{typename}}</h5>
                    <ul>
                        {% for ref in type %}
                        <li>
                            {% set ref_description = get_lang_text(ref.description, ref.description_eng, g.language) %}
                            {% if ref.url %}
                                <a class="visible_link" href="{{ref.url | deescape}}" target="_blank">{{ref_description | safe}}</a>
                            {% else %}
                                <span>{{ref_description | safe}}</span>
                            {% endif %}

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <br/><br/>
        <div class="top-link"><a href="#top">[ TILL TOPPEN ]</a></div>

    </div>
    <div class="col-md-4">
        <!--<div id="article_map_button">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;{{gettext('Show map')}}
        </div>
        <div id="article_map_button_hide" style="display:none">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;{{gettext('Hide map')}}
        </div>
        <div id="article_map" style="height: 320px;width: 320px;display:none"></div>-->
        {% if article.portrait %}
            {% set article_portrait_description = get_lang_text(article.portrait[0].description, article.portrait[0].description_eng, g.language) %}
            <div class="image-overlay">
                <img class="img-responsive" src="{{ article.portrait[0].url }}" itemprop="image" alt="{{ article_portrait_description }}" width="360px">
            </div>
            {{ article_portrait_description | deescape}}
        {% endif %}
        {% if article.keyword %}
            <h3>{{ gettext("Keywords") }}</h3>
            {% for keyword in article.keyword %}
                {% if keyword %}
                    <a href="{{ url_for('keyword_'+g.language, result=keyword) }}"><span class="badge">{{ keyword }}</span></a></span>
                {% endif %}
            {% endfor %}
        {% endif %}
        <a href="https://spraakbanken.gu.se/karp/#?mode=skbl&search=extended||and|id|equals|{{article.es_id}}" target="_blank"><img src="https://spraakbanken.gu.se/sites/spraakbanken.gu.se/files/karp.png"></a>

        {# <h3>{{ gettext("Othernames") }}</h3>
        {% for name in article.othernames %}
            <p><b>{{name.type}}:</b> <span itemprop="additionalName">{{name.name}}</span></p>
        {% endfor %} #}

        {% if article.externallink %}
            <h3>{{ gettext("Links") }}</h3>
            <ul>
            {% for link in article.externallink %}
                <li><a class="visible_link" target="_blank" href="{{ link.url | deescape }}">{{ link.description | deescape }}</a></span></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block foot %}
    {{ super() }}
    <script>
        jQuery(document).ready(function() {
            jQuery(".ellipsis_header").click(function() {
                jQuery(this).siblings(".ellipsis_contents").toggle("slow");
                jQuery(this).find(".ellipsis_plus").toggle();
            });
        });
    </script>
    <!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script>
        jQuery(document).ready(function() {

            jQuery("#article_map_button").click(function() {
                jQuery("#article_map").show();
                jQuery("#article_map_button").hide();
                jQuery("#article_map_button_hide").show();

                var article = {{article | tojson}};
                console.log("article", article);
                // Generate list of pins
                var pins = [];
                for (var educationKey in article.education) {
                    var education = article.education[educationKey];
                    if (education.place && education.place.pin) {
                        pins.push(['education', education.place.pin.lat, education.place.pin.lon, education.place.place]);
                    }
                }
                for (var occupationKey in article.occupation) {
                    var occupation = article.occupation[occupationKey];
                    if (occupation.place && occupation.place.pin) {
                        pins.push(['occupation', occupation.place.pin.lat, occupation.place.pin.lon, occupation.place.place]);
                    }
                }
                for (var placeKey in article.places) {
                    var place = article.places[placeKey];
                    if (place.place && place.place.pin) {
                        pins.push(['place', place.place.pin.lat, place.place.pin.lon, place.place.place]);
                    }
                }
                for (var contactKey in article.contacts) {
                    var contact = article.contacts[contactKey];
                    if (contact.place && contact.place.pin) {
                        pins.push(['education', contact.place.pin.lat, contact.place.pin.lon, contact.place.place]);
                    }
                }
                if (article.lifespan) {
                    if (article.lifespan.from && article.lifespan.from.place && article.lifespan.from.place.pin) {
                        var fromPlace = article.lifespan.from.place;
                        pins.push(['birth', fromPlace.pin.lat, fromPlace.pin.lon, fromPlace.place]);
                    }
                    if (article.lifespan.to && article.lifespan.to.place && article.lifespan.to.place.pin) {
                        var toPlace = article.lifespan.to.place;
                        pins.push(['death', toPlace.pin.lat, toPlace.pin.lon, toPlace.place]);
                    }
                }
                console.log("pins", pins);
                if (pins.length !== 0) {
                    if (typeof mymap !== 'undefined') return;
                    mymap = L.map('article_map').setView([pins[0][1], pins[0][2]], 6);
                    /*var LeafIcon = L.Icon.extend({
                        options: {
                            shadowUrl: '',
                            iconSize:     [15, 28],
                            shadowSize:   [50, 64],
                            iconAnchor:   [7, 27],
                            shadowAnchor: [4, 62],
                            popupAnchor:  [-3, -76]
                        }
                    });
                    var redIcon = new LeafIcon({iconUrl: '/static/images/pins/red.png'});*/
                    var redIcon = new L.Icon({
                        iconUrl: '/static/images/pins/red.png',
                        iconSize:     [15, 28],
                        iconAnchor:   [14, 27],
                        popupAnchor:  [-6, -20]
                    });
                    var orangeIcon = new L.Icon({
                        iconUrl: '/static/images/pins/orange.png',
                        iconSize:     [15, 28],
                        iconAnchor:   [10, 27],
                        popupAnchor:  [-2, -20]
                    });
                    var grayIcon = new L.Icon({
                        iconUrl: '/static/images/pins/gray.png',
                        iconSize:     [15, 28],
                        iconAnchor:   [2, 27],
                        popupAnchor:  [8, -20]
                    });
                    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox.streets'
                    }).addTo(mymap);
                    var markers = [];
                    for (var pinIndex in pins) {
                        var pin = pins[pinIndex];
                        var icon;
                        switch(pin[0]) {
                            case "birth":
                                icon = redIcon;
                                break;
                            case "death":
                                icon = grayIcon;
                                break;
                            case "place":
                                icon = orangeIcon;
                                break;
                            case "contact":
                                icon = orangeIcon;
                                break;
                            case "education":
                                icon = orangeIcon;
                                break;
                            case "occupation":
                                icon = orangeIcon;
                                break;
                        }
                        markers.push(L.marker([pin[1], pin[2]], {icon: icon}).bindPopup(pin[3]));
                    }
                    group = new L.featureGroup(markers).addTo(mymap);
                    mymap.fitBounds(group.getBounds(), {"maxZoom" : 4});
                }
                //mymap.invalidateSize();
            });

            jQuery("#article_map_button_hide").click(function() {
                jQuery("#article_map").hide();
                jQuery("#article_map_button").show();
                jQuery("#article_map_button_hide").hide();
            });
        });
    </script>-->
    <script>
        jQuery(document).ready(function() {
            jQuery(".fadeout").click(function() {
                jQuery(this).parent().siblings(".hidden_first").toggle();
                jQuery(this).parent().toggle();
            });
            jQuery(".minimize_items").click(function() {
                jQuery(this).parent().siblings(".shown_first").toggle();
                jQuery(this).parent().toggle();
            });
            jQuery(".toggle-dates").click(function() {
                jQuery(".toggled-by-button").each(function() { $(this).toggle(); });

            });
        });
    </script>
{% endblock %}
