{% extends "layout.html" %}
{% block title %}skbl.se - {{ title }}{% endblock %}
{% block content %}
<div class="col-md-8">
    <h1>{{ title }}</h1>
    {% if infotext %}
    <p>{{ infotext}}</p>
    <br/>
    {% endif %}
</div>
<div class="col-md-4">
</div>
<div class="col-md-12">
    {% set lang = g.language %}
    {% set sortnames = True if sortnames else False %}
    {% if alphabetical %}
        {% for firstletter, _ in make_alphabetical_bucket(results, sortnames=sortnames, lang=lang) %}
            {% if firstletter == make_alphabetical_bucket(results, lang=lang)[-1][0] %}
                <a class="alphabetlist" href="#{{firstletter}}">{{firstletter}}</a>
            {% else %}
                <a class="alphabetlist vertical_bar" href="#{{firstletter}}">{{firstletter}}</a>
            {% endif %}
        {% endfor %}
        <ul>
          {% for firstletter, namelist in make_alphabetical_bucket(results, lang=lang) %}
                <h2><a class="no_anchor_decor" name="{{firstletter}}">{{ firstletter }}</a></h2>
            {% for result in namelist %}
                {% if result[-1] == "reference" %}
                    <li class="keyword_list_item">{{ result[0] | deescape }} {{ gettext("see") }} <a href="{{ url_for(name+'_'+g.language, result=result[1]) }}">{{ result[1] }}</span></a></li>
                {% else %}
                    <li class="keyword_list_item"><a href="{{ url_for(name+'_'+g.language, result=' '.join(result[0:-1])) }}">{{ rewrite_von(' '.join(result[0:-1]) | deescape ) }}&nbsp;<span class="badge">{{ result[-1] }}</span></a></li>
                {% endif %}
            {% endfor %}
            <div class="top-link"><a href="#top">[ {{gettext("TO THE TOP")}} ]</a></div>
          {% endfor %}
        </ul>
    {% else %}
    <ul>
        {% for result in results %}
            {% if result[-1] == "reference" %}
                <li class="keyword_list_item">{{ result[0] | deescape }} {{ gettext("see") }} <a href="{{ url_for(name+'_'+g.language, result=result[1]) }}">{{ result[1] }}</span></a></li>
            {% else %}
                <li class="keyword_list_item"><a href="{{ url_for(name+'_'+g.language, result=' '.join(result[0:-1])) }}">{{ rewrite_von(' '.join(result[0:-1]) | deescape ) }}&nbsp;<span class="badge">{{ result[-1] }}</span></a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
