{% extends "layout.html" %}
{% block title %}skbl.se - {{ title }}{% endblock %}
{% block content %}
<div class="col-md-6">
    <h1>{{ headline }}</h1>
    {% if errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li> {{ error }} </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form method="post" action="{{ url_for('submit_contact_form') }}">
        <div class="{% if name_error %}form-group has-error{% else %}form-group{% endif %}">
            <label class="control-label" for="name">{{ gettext("Name") }}</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="{{ gettext("Your name...") }}" value="{{ name }}">
        </div>
        <div class="{% if email_error %}form-group has-error{% else %}form-group{% endif %}">
            <label class="control-label" for="email">{{ gettext("E-mail") }}</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="{{ gettext("Your e-mail adress...") }}" value="{{ email }}">
        </div>
        <div class="{% if message_error %}form-group has-error{% else %}form-group{% endif %}">
            <label class="control-label" for="message">{{ gettext("Message") }}</label>
            <textarea id="message" class="form-control" name="message" placeholder="{{ gettext("Your message...") }}"  value="{{ message }}" style="height:200px"></textarea>
        </div>
        <button type="submit" class="btn btn-default">{{ gettext("Submit") }}</button>
    </form>
</div>
{% endblock %}
