{% extends "layout.html" %}
{% block title %}skbl.se - {{ title }}{% endblock %}
{% block content %}
<div class="col-md-6">
    <h1>{{ headline }}</h1>
    {% if errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li> {{ error }} </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post" action="{{ url_for('submitted_'+g.language) }}">
        <label for="suggest_new">
            <input type="checkbox" id="suggest_new" name="suggest_new" {% if suggestion %}{{ "checked=checked" }}{% endif %}>
            <span class="title">{{ gettext("Suggest new entry") }}</span>
        </label>
        <div class="{% if name_error %}form-group has-error{% else %}form-group{% endif %}">
            <label class="control-label" for="name">{{ gettext("Name") }}</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="{{ gettext("Your name...") }}" value="{{ form_data.get("name", "") }}">
        </div>
        <div class="{% if email_error %}form-group has-error{% else %}form-group{% endif %}">
            <label class="control-label" for="email">{{ gettext("E-mail") }}</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="{{ gettext("Your e-mail adress...") }}" value="{{ form_data.get("email", "") }}">
        </div>
        <div class="extra_field indent {% if subject_name_error %}form-group has-error{% else %}form-group{% endif %}">
            <label class="control-label" for="subject_name">{{ gettext("Name of subject") }}</label>
            <input type="text" class="form-control" id="subject_name" name="subject_name" placeholder="{{ gettext("Name of subject...") }}" value="{{ form_data.get("subject_name", "") }}">
        </div>
        <div class="extra_field indent {% if subject_lifetime_error %}form-group has-error{% else %}form-group{% endif %}">
            <label class="control-label" for="subject_lifetime">{{ gettext("Lifetime of subject") }}</label>
            <input type="text" class="form-control" id="subject_lifetime" name="subject_lifetime" placeholder="{{ gettext("Date of birth and death...") }}" value="{{ form_data.get("subject_lifetime", "") }}">
        </div>
        <div class="extra_field indent {% if subject_activity_error %}form-group has-error{% else %}form-group{% endif %}">
            <label class="control-label" for="subject_activity">{{ gettext("Subject's activities") }}</label>
            <input type="text" class="form-control" id="subject_activity" name="subject_activity" placeholder="{{ gettext("The subject's activities and occupation(s)...") }}" value="{{ form_data.get("subject_activity", "") }}">
        </div>
        <div class="{% if message_error %}form-group has-error{% else %}form-group{% endif %}" id="message-div">
            <label class="control-label" for="message">{{ gettext("Message") }}</label>
            <textarea id="message" class="form-control" name="message" placeholder="{{ gettext("Your message...") }}" style="height:200px">{{ form_data.get("message", "") }}</textarea>
        </div>
        <div class="extra_field {% if motivation_error %}form-group has-error{% else %}form-group{% endif %}">
            <label class="control-label" for="motivation">{{ gettext("Why do you want this subject to appear in SKBL?") }}</label>
            <textarea id="motivation" class="form-control" name="motivation" placeholder="{{ gettext("Your motivation...") }}" style="height:200px">{{ form_data.get("motivation", "") }}</textarea>
        </div>
        <button type="submit" class="btn btn-default">{{ gettext("Submit") }}</button>
    </form>
</div>
{% endblock %}
{% block foot %}
    {{ super() }}
    <script>
        jQuery(document).ready(function() {
            if(jQuery('#suggest_new').attr('checked')){
                jQuery(".extra_field").show();
                jQuery("#message-div").hide();
            }
            jQuery('#suggest_new').click(function() {
                jQuery(".extra_field").toggle(this.checked);
                jQuery("#message-div").toggle(this.checked == false);
            });
        });
    </script>
{% endblock %}
