<!doctype html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <!-- Latest compiled and minified JavaScript -->
    {% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-default navbar-static-top">   
      <div class="container">
              <div class="row">
        <img src="http://placehold.it/80x100">
      </div>   
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('about-skbl_'+g.language) }}">{{ gettext('About SKBL') }}</a></li>
            <li><a href="{{ url_for('about-us_'+g.language) }}">{{ gettext('About us') }}</a></li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Article authors <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">one</a></li>
                <li><a href="#">two</a></li>
              </ul>
            </li>

            <li><a href="{{ url_for('contact_'+g.language) }}">{{ gettext('Contact') }}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="language-switch"><a href="{{ g.switch_language.url }}">{{ g.switch_language.label }}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        
      </div>
    </nav>


    <div class="container">
      {% block content %}{% endblock %}

      <div class="row">
        <div class="border col-xs-3"><img src="http://placehold.it/280x150">verksamhet</div>
        <div class="border col-xs-3"><img src="http://placehold.it/280x150">organisationer</div>
        <div class="border col-xs-3"><img src="http://placehold.it/280x150">orter</div>
        <div class="border col-xs-3"><img src="http://placehold.it/280x150">{{ gettext('Keywords') }}</div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>        
  </body>
</html>