{% extends "layout.html" %}
{% block title %}skbl.se - {{ title }}{% endblock %}
{% block content %}
<div class="col-md-8">
    <h1>{{ headline | deescape }}</h1>
    {% if subheadline %}
       <h2>{{ subheadline | deescape }} {% if search and hits.hits%}({{ hits.hits|length }}){% endif %}</h2>
       <br/>
    {% endif %}
    {% if infotext %}
        <p>{{ infotext}}</p>
        <br/>
    {% endif %}
    {% if search and not hits.hits%}
        <span>{{ gettext("No results found for") }} "{{search}}".</span>
    {% endif %}

    {% set firstletters, results = make_namelist(hits)%}
    {% if split_letters %}
        {% for firstletter in firstletters%}
            {% if firstletter == firstletters[-1] %}
                <a class="alphabetlist" href="#{{firstletter}}">{{firstletter}}</a>
            {% else %}
                <a class="alphabetlist vertical_bar" href="#{{firstletter}}">{{firstletter}}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
    <ul>
    {% for oneletterlist in results %}
        {% if split_letters %}
            <h2><a name="{{ oneletterlist[0][0] }}">{{ oneletterlist[0][0] }}</a></h2>
        {% endif %}
        {% for _firstletter, is_link, name, linked_name, liferange, subtitle, subtitle_eng, subject_id in oneletterlist %}
        <li>
            {% if is_link %}
                <a href="{{ url_for('article_'+g.language, id=subject_id) }}" title="{{ linked_name }}"><strong><em>{{ name }}</em></strong>&ensp;<span class="glyphicon glyphicon-link"></span><br />
            {% else %}
                <a href="{{ url_for('article_'+g.language, id=subject_id) }}">{{ name | safe }}<br />
            {% endif %}
            {% set article_subtitle = get_lang_text(subtitle, subtitle_eng, g.language) %}
            {% if article_subtitle %} {{ article_subtitle | safe}}<br> {% endif %}
            {% if liferange[0] or  liferange[1] %}
                <span itemprop="birthDate">{{ liferange[0] }}</span> &mdash; <span itemprop="deathDate">{{ liferange[1] }}</span>
            {% endif %}
            </a>
        </li>
        {% endfor %}
        <div class="top-link"><a href="#top">[ TILL TOPPEN ]</a></div>
    {% endfor %}
    </ul>
</div>
<div class="col-md-4">
    {{ advanced_search_text | safe}}
    {% if picture %}
    <img src="{{ picture }}" alt="{{ headline }}" width="350px" />
    {% endif %}
</div>
{% endblock %}
