{% extends "layout.html" %}
{% block title %}skbl.se - {{ title }}{% endblock %}
{% block content %}
<div class="col-md-8">
    <h1>{{ headline | deescape }}</h1>
    {% if infotext %}
        <p>{{ infotext}}</p>
        <br/>
    {% endif %}
    {% if search and not hits.hits%}
        <span>{{ gettext("No results found for") }} "{{search}}".</span>
    {% endif %}

    {% if split_letters %}
        {% for firstletter, _ in make_namelist(hits, alphabetic=alphabetic) %}
            <a class="alphabetlist" href="#{{firstletter}}">{{firstletter}}</a>&nbsp;
        {% endfor %}
    {% endif %}
    <ul>
      {% for firstletter, namelist in make_namelist(hits, alphabetic=alphabetic) %}
        {% if split_letters %}
            <h2><a name="{{firstletter}}">{{ firstletter }}</a></h2>
        {% endif %}
        {% for name, islink, hit in namelist %}
        <li>
            {% if islink %}
                <a href="{{ url_for('article_'+g.language, id=hit._id) }}" title="{{ join_name(hit._source) }}"><strong><em>{{ name }}</em></strong>&ensp;<span class="glyphicon glyphicon-link"></span><br />
            {% else %}
                <a href="{{ url_for('article_'+g.language, id=hit._id) }}"><strong>{{ name }}</strong><br />
            {% endif %}
            {% if get_life_range(hit._source)[0] or  get_life_range(hit._source)[1] %}
                <span itemprop="birthDate">{{ get_life_range(hit._source)[0] }}</span> &mdash; <span itemprop="deathDate">{{ get_life_range(hit._source)[1] }}</span>
            {% endif %}
            </a>
        </li>
        {% endfor %}
      {% endfor %}
    </ul>
</div>
<div class="col-md-4">
    {{ advanced_search_text | safe}}
    {% if picture %}
    <img src="{{ picture }}" alt="{{ headline }}" width="350px" />
    {% endif %}
</div>
{% endblock %}
