{% extends "layout.html" %}
{% block title %}skbl.se - {{ title }}{% endblock %}
{% block content %}
<div class="col-md-8">
    <h2>{{ title }}</h2>
    {% if linked_from %}
        <p>
            {{ linked_from }} {{ gettext("is not part of this resource yet.") }}
        </p>
    {% endif %}
    <p>
        {{ infotext | safe }}
    </p>
    <br/>

    {% set lang = g.language %}

    {# Clickable Alphabet #}
    {% for firstletter, _ in make_alpha_more_women(women, sortnames=True, lang=lang) %}
        {% if firstletter == make_alpha_more_women(women, lang=lang)[-1][0] %}
            <a class="alphabetlist" href="#{{firstletter}}">{{firstletter}}</a>
        {% else %}
            <a class="alphabetlist vertical_bar" href="#{{firstletter}}">{{firstletter}}</a>
        {% endif %}
    {% endfor %}

    {# List #}

    <ul>
      {% for firstletter, namelist in make_alpha_more_women(women, sortnames=True, lang=lang) %}
            <h2><a class="no_anchor_decor" name="{{firstletter}}">{{ firstletter }}</a></h2>
        {% for last_name, first_name, birth, death, info in namelist %}
            <li>
                {% if first_name %}
                    <strong>{{ rewrite_von(", ".join((last_name, first_name))) }}</strong><br/>
                {% else %}
                    <strong>{{ rewrite_von(last_name) }}</strong><br/>
                {% endif %}
                {{ info }}<br/>
                <span itemprop="birthDate">{{ birth }}</span> &mdash; <span itemprop="deathDate">{{ death }}</span>
            </li>
        {% endfor %}
        <div class="top-link"><a href="#top">[ {{gettext("TO THE TOP")}} ]</a></div>
      {% endfor %}
    </ul>
</div>
{% endblock %}
