{% extends "layout.html" %}
{% block title %}skbl.se - {{ title }}{% endblock %}
{% block content %}
<div class="col-md-8">
    {{ test}}
    <h1>{{ title }}</h1>
    {% if infotext %}
    <p>{{ infotext}}</p>
    <br/>
    {% endif %}
</div>
<div class="col-md-4"></div>
<div class="col-md-8">
    {% for maintype, val in sorted(results.items()) %}
        {% if maintype == sorted(results.items())[-1][0] %}
            <a class="alphabetlist" href="#{{maintype}}">{{get_org_name(maintype)}}&nbsp;</a>
        {% else %}
            <a class="alphabetlist vertical_bar" href="#{{maintype}}">{{get_org_name(maintype)}}&nbsp;</a>
        {% endif %}
    {% endfor %}
  <ul>
       {% for maintype, val in sorted(results.items()) %}
          <li class="keyword_list_item nested_part"> <h3><a name="{{maintype}}">{{ maintype }}</a></h3>
            {% if len(val.items()) <= 8 %}
              {% for subtype, subval in lowersorted(val.items()) %}
              <ul>
                <li class="keyword_list_item">
                  <a href="{{ url_for(name+'_'+g.language, result='|'.join(subval), title=maintype+' - '+subtype) }}">{{ subtype }}&nbsp;
                    <span class="badge">{{ len(subval) }}</span>
                  </a>
                </li>
              </ul>
              {% endfor %}
            {% else %}
              <div style="display:none" class="nested_container hidden_first">
                {% for subtype, subval in lowersorted(val.items()) %}
                <ul>
                  <li class="keyword_list_item">
                    <a href="{{ url_for(name+'_'+g.language, result='|'.join(subval), title=maintype+' - '+subtype) }}">{{ subtype }}&nbsp;
                      <span class="badge">{{ len(subval) }}</span>
                    </a>
                  </li>
                </ul>
                {% endfor %}
                <div class="minimize_items">
                  <span class="label label-default"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></span>
                </div>
              </div>
              <div style="" class="nested_container shown_first">
                <ul>
                {% for subtype, subval in lowersorted(val.items()) %}
                  {% if loop.index < 8 %}
                  <li class="keyword_list_item">
                    <a href="{{ url_for(name+'_'+g.language, result='|'.join(subval), title=maintype+' - '+subtype) }}">{{ subtype }}&nbsp;
                      <span class="badge">{{ len(subval) }}</span>
                    </a>
                  </li>
                  {% endif %}
                {% endfor %}
                </ul>
                <div class="fadeout">
                  <span class="label label-default">fler...</span>
                </div>
              </div>
            {% endif %}
          </li>
          <div class="top-link"><a href="#top">[ TILL TOPPEN ]</a></div>
       {% endfor %}
    </ul>
</div>
{% endblock %}
{% block foot %}
    {{ super() }}
    <script>
        jQuery(document).ready(function() {
            jQuery(".fadeout").click(function() {
                jQuery(this).parent().siblings(".hidden_first").toggle();
                jQuery(this).parent().toggle();
            });
            jQuery(".minimize_items").click(function() {
                jQuery(this).parent().siblings(".shown_first").toggle();
                jQuery(this).parent().toggle();
            });
        });
    </script>
{% endblock %}
