{% extends "layout.html" %}
{% block title %}skbl.se - {{ title }}{% endblock %}
{% block content %}
<div class="col-md-8">
    {{ test}}
    <h1>{{ title }}</h1>
    {% if infotext %}
    <p>{{ infotext}}</p>
    <br/>
    {% endif %}
    <ul>
       {% for maintype, val in sorted(results.items()) %}
          <li class="keyword_list_item"> <h4>{{ maintype }}</h4>
          <ul>
            {% for subtype, subval in sorted(val.items()) %}
              <li class="keyword_list_item">
                <a href="{{ url_for(name+'_'+g.language, result='|'.join(subval), title=maintype+' - '+subtype) }}">{{ subtype }}&nbsp;
                  <span class="badge">{{ len(subval) }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
          </li>
       {% endfor %}
    </ul>
</div>
<div class="col-md-4">

</div>
{% endblock %}
