{% extends "layout.html" %}
{% block title %}skbl.se - {{ title }}{% endblock %}
{% block content %}
<div class="col-md-8">
    <h1>{{ title }}</h1>
    {% if infotext %}
        <p>{{ infotext}}</p>
        <br/>
    {% endif %}

      {% for firstletter, _ in make_placenames(places) %}
          <a class="alphabetlist" href="#{{firstletter}}">{{firstletter}}</a>&nbsp;
      {% endfor %}
      <ul>
      {% for firstletter, namelist in make_placenames(places) %}
        <h2><a name="{{firstletter}}">{{ firstletter }}</a></h2>
        {% for name, hit in namelist %}
          <li class="keyword_list_item"><a href="{{ url_for('place_'+g.language, place=name, lat=hit.lat, lon=hit.lon) }}">{{name}} <span class="badge">{{ hit.count }}</span></a></li>
        {% endfor %}
      {% endfor %}
      </ul>
</div>

{% endblock %}
