{% extends "layout.html" %}
{% block title %}skbl.se - {{ title }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
<p>Platser där de biograferade kvinnorna fötts, dött och varit verksamma. Klicka på en ort för att få upp en karta och en lista över kvinnor med anknytning till platsen.</p><br/>
<div class="col-md-8">

      {% for firstletter, _ in make_placenames(places) %}
          <a href="#{{firstletter}}">{{firstletter}}</a>&nbsp;
      {% endfor %}
      <ul>
      {% for firstletter, namelist in make_placenames(places) %}
        <h2><a name="{{firstletter}}">{{ firstletter }}</a></h2>
        <ul>
        {% for name, hit in namelist %}
          <li class="keyword_list_item"><a href="{{ url_for('place_'+g.language, place=name, lat=hit.lat, lon=hit.lon) }}">{{name}}</a></li>
        {% endfor %}
        </ul>
      {% endfor %}
      </ul>
</div>

{% endblock %}
