{% extends "layout.html" %}
{% block title %}skbl.se - {{title}}{% endblock %}
{% block content %}
<div class="col-md-6">
  <div id="carousel-skbl" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-skbl" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-skbl" data-slide-to="1"></li>
      <li data-target="#carousel-skbl" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/AVvNEUJl6HF5HgpJZ2wN">
          <img src="../static/images/carousel/ulfsparre.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Hedvig Ulfsparre</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/AVmr017w7hONWjeN9oCA">
          <img src="../static/images/carousel/rathou.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Emilie Rathou</h3>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/{{ 'sv/artikel' if g.language == 'sv' else 'en/article' }}/AVrNWVBMi-B3PHNCX9Rw">
          <img src="../static/images/carousel/roosval.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Ellen Roosval von Hallwyl</h3>
          </div>
        </a>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-skbl" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-skbl" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
<div class="col-md-6" id="right-panel">
  <h3><span>{{infotext | safe}}</span></h3>
</div>
{% endblock %}
